.forgot-password-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #a3b6f1;
  }
  
  .forgot-password-card {
    background-color: rgb(12, 4, 56);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
  }
  
  .forgot-password-card h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .forgot-password-card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #959494;
  }
  
  .forgot-password-card button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .forgot-password-card button:disabled {
    background-color: #ccc;
  }
  